# Google credentials
GOOGLE_SERVICE_ACCOUNT_CREDENTIALS_PATH=/path/to/service_account_credentials.json
GOOGLE_OAUTH_CREDENTIALS_PATH=/path/to/oauth_credentials.json

# Neon
NEON_DATABASE_URL=neon_connection_string
