# Folders
__pycache__/
local_assets/
output/
utils/

# Hidden folders and files
.DS_Store
.ruff_cache
.ipynb_checkpoints
.venv
.cache

# Files
logs/*
*.log
todo.txt
scratch.ipynb
.env

# Files to keep
!logs/.gitkeep
